
body{
    height:100%;
    background: linear-gradient(0deg, rgb(69, 140, 206), rgb(46, 128, 204)31%, #74a3cf 100%) no-repeat;
}

html{
  height:100%;
  background: linear-gradient(0deg, rgb(69, 140, 206), rgb(46, 128, 204)31%, #74a3cf 100%) no-repeat;
}
 /*nav style */
 .navbar-brand {
    color:#ffffff
    ;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:visited{
    color:#ffffff !important;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
  }
  .navbar-brand:hover{
    color: #f8f8f8;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  .navbar-brand:active{
    color: #ffffff;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  
  .nav-link{
    color: #ffffff;
    font-family: 'Lilita One', sans-serif;
  
  }
  .nav-link:visited{
    color: #ffffff;
    font-family: 'Lilita One', sans-serif;
  }
  .nav-link:hover{
    color: #ffffff;
    font-family: 'Lilita One', sans-serif;
    background-color: transparent;
    background-image: url("hookemhand.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }
  
  .nav-link:active{
    color: #transparent;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-toggler-icon{
    color: #ffffff ;
    font-family: 'Lilita One', sans-serif;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
  }

  .navbar{
    background-color: rgba(97, 124, 150, 0);
   
  }

  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("Group\ 1.png");
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
}
 /*nav style */
.titleDiv{
    text-align: left;
    margin-left: 20%;
    margin-top: 10%;
    color: #fff;
}
.top{
  background-image: url("Group\ 3.png");
}